.btn-primary{
    background-color: #023047;
}
.btn-outline-primary{
    border: solid 1px #023047;
    color: #023047;
}

.btn-secondary{
    background-color: #219ebc;
}
.btn-outline-secondary{
    border: solid 1px #219ebc;
    color: #219ebc;
}




.btn-primary:hover{
    background-color: #012131;
}
.btn-outline-primary:hover{
   background-color: #023047;
color: #ffb703;
}

.btn-secondary:hover{
    background-color: #1e88a3;
}
.btn-outline-secondary:hover{
    background-color: #219ebc;
 color: #023047;
 }



