/*CSS reset*/
.cv-show-case{
    width: 100%;
    min-height: 100vh;
    background-image: url(../../public/images/backgrounds/bg_3.png);
    background-color: #6ec2e9;
    background-size: cover;
    background-blend-mode: screen;
    position: relative;
    padding-bottom: 200px;
}
.mb-max{
    margin-bottom: 160px;
}
.text-orange{
    color: #fb8500;
    font-weight: 800;
}
.text-blue{
    color: #1b829c;
    font-weight: 600;
}
/*Custom properties*/

/*Pseudo-classes*/

/*Generics*/

/*Utilties*/
.title-sc{
    width: fit-content;
    padding: 10px;
    margin-top: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #023047;
    font-weight: 700;
    color: #fb8500;
    position: absolute;
    right: 0;
    font-size: 26px;
}
.photo_container{
    width: 100%;
    padding-top: 100px;
}
/*intestazione*/
.photo_container .photo_contained{
    width: 250px;
    margin: auto;
}
.photo_container img{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin: auto;
    box-shadow: 1px 1px 20px 5px black;
}
.photo_container h1{
    font-weight: 900;
    font-size: 70px;
    padding-top: 10px;
}
/*bio*/
.cv-show-case p{
    padding: 8px;
    font-weight: 700;
    font-size: 18px;
}
.cv-show-case h2{
    font-weight: 700;
    font-size: 30px;
    padding-top: 10px; 
}
.skill-container{
    height: 100px;
    width: fit-content;

}
.skill-container img{
    border-radius: 50%;
}
.skill-text{
    height: 30px;
    width: fit-content;
}

/*experiences*/
.experience_jumbo{
    background-image: url(../../public/images/jumbo_cv.png);
    background-size: cover;
    width: 100%;
    min-height: 400px;
    margin-bottom: 80px;
    box-shadow: 0px 25px 18px 23px #232221;
    border-bottom: solid #232221 0.5px;
}

/*instruction*/
.instruction_jumbo{
    width: 100%;
    background-color: #fb8500;
    border-bottom: solid #fb8500 10px;
    height: 60px;
    box-shadow: 0px 40px 25px 13px #fb8500;
}
