/*CSS reset*/
.cv-show-case{
    width: 100%;
    min-height: 100vh;
    background-image: url(../../public/images/backgrounds/bg_3.png);
    background-color: #6ec2e9;
    background-size: cover;
    background-blend-mode: screen;
    position: relative;
    padding-bottom: 200px;
}

/*Custom properties*/

/*Pseudo-classes*/

/*Generics*/

/*Utilties*/
.title-sc{
    width: fit-content;
    padding: 10px;
    margin-top: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #023047;
    font-weight: 700;
    color: #fb8500;
    position: absolute;
    right: 0;
    font-size: 26px;
}
.photo_container{
    width: 100%;
    padding-top: 100px;
}
/*intestazione*/
.photo_container .photo_contained{
    width: 250px;
    margin: auto;
}
.photo_container img{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin: auto;
    box-shadow: 1px 1px 20px 5px black;
}
.photo_container h1{
    font-weight: 900;
    font-size: 70px;
    padding-top: 10px;
}
/*bio*/
.cv-show-case p{
    padding: 8px;
    font-weight: 700;
    font-size: 18px;
}
.cv-show-case h2{
    font-weight: 700;
    font-size: 30px;
    padding-top: 10px; 
}
.skill-container{
    height: 100px;
    width: 100%;
}
.skill-text{
    height: 30px;
    width: 100%;
    text-align: center;
}