header nav {
    background-color: #023047;
    color: #ffb703;
    font-weight: 700;
    font-size: 24px;
}
header nav .logo{
    color: #ffb703;
}
a{
    text-decoration: none;
}
#navbarSupportedContent ul li a{
    color: #ffb703;
}
.dropdown-menu{
    background-color: #023047;
    box-shadow:0px 0px 5px 1px #03496b;
}
/*PSEUDO CLASSES*/
nav .logo .fa-house:hover{
    color: #fb8500;
}
#navbarSupportedContent ul li a:hover{
    text-decoration: underline;
    color: #fb8500;
}