@import '~bootstrap/scss/bootstrap';
@import 'btns';
@import 'header';
@import 'cv_show_case';
@import 'projects_show_case';
@import 'cards';
@import '_show';
@import '_footer';

div{
    border: none;
}
body{
    color: #023047;
    background-color: #b2d7e8;
}


ul li{
    list-style-type: none;
}
